
KingWIlliamApp/.vs/KingWIlliamApp/v16/.suo
KingWIlliamApp/.vs/KingWIlliamApp/v16/.suo
KingWIlliamApp/.vs/KingWIlliamApp/v16/.suo
*.cache
KingWIlliamApp/.vs/KingWIlliamApp/v16/.suo
KingWIlliamApp/.vs/KingWIlliamApp/v16/.suo
*.exe
*.pdb
*.mdf
*.ldf
*.cache
*.cache
*.exe
*.pdb
